@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* Custom Utilities */
.nav-item {
  @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition;
}

.nav-item--active {
  @apply bg-white text-gray-900 hover:bg-white hover:text-gray-900;
}

.hero-ring {
  @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-900 text-white;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}